@charset "utf-8";
body{
    background-image: url("../img/index-back.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    background-image: none;
    box-shadow: none;
}
.class-avto{
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 40px;
    width: 400px;
    margin: auto;
    font-size: 20px;
    overflow: hidden;
    position: relative;
}
.class-avto>span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #000;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
}
.class-avto>span:nth-of-type(1){
    border-left: none;
}
.class-avto .active div{
    left: 0;
    right: 0;
}
.class-avto div{
    background: url('../img/back-active.png');
    position: absolute;
    top:0;
    bottom: 0;
    left: 50%;
    right: 50%;
    z-index: -1;
    transition: 500ms;
    position: absolute;
}
.price-model{
    margin-top: 30px;
    width: 280px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.price-model .model{
    font-family: 'proxima_nova_rgbold';
    font-size: 30px;
}
.price-model .price{
    font-size: 22px;
}
.price-model>div{
    padding: 5px;
}
.price-model .button{
    width: 160px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.active-car{
    margin-top: 150px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-car img{
    position: relative;
    left:0;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    width: 600px;
}
.clear-transition{
    -moz-transition: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
}
section> .slider{
    flex-grow: 1;
    margin: 0 70px;
    position: relative;
}
.item{
    text-align: center;
    font-size: 22px;
}
.owl-pagination{
    display: none;
}
.owl-buttons {
    position: relative;
    height: 0;
    width: 100%;
}
.owl-next, .owl-prev {
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.owl-prev {
    left: -60px;
    background-image: url('../img/left-slide.png');
}
.owl-prev:hover {
    background-image: url('../img/left-slide-active.png');
}
.owl-next {
    right: -60px;
    background-image: url('../img/right-slide.png');
}
.owl-next:hover {
    background-image: url('../img/right-slide-active.png');
}
.owl-prev,.owl-next{
    height: 165px;
}
.item .model{
    margin-top: 10px;
}
.item{
    cursor: pointer;
}
.owl-carousel{
    width: calc(100% - 300px);
}
.model{
    padding-bottom: 20px;
}
@media (max-width: 1885px) {
    .active-car{
        margin-top: 120px;
    }
}
@media (max-width: 1820px) {
    .active-car{
        margin-top: 113px;
    }
    .price-model{
        margin-top: 8px;
    }
}
@media (max-width: 1800px) {
    .active-car{
        margin-top: 150px;
    }
}
@media (max-width: 1720px) {
    .active-car{
        margin-top: 117px;
    }
}
@media (max-width: 1600px) {
    .price-model{
        margin-top: 0;
    }
    .active-car{
        margin-top: 85px;
        margin-bottom: 15px;
    }
    .slider .item img{
        width: 138px;
    }
    .autoslider .item img{
        width: 180px;
    }
    .title-class{
        min-width: 230px;
    }
}
@media (max-width: 1550px) {
    .active-car{
        margin-top: 88px;
    }
    .price-model{
        margin-top: -20px;
    }
}
@media (max-width: 1485px) {
    .price-model{
        margin-top: -40px;
    }
}
@media (max-width: 1400px) {
    .active-car{
        margin-top: 60px;
    }
}
@media (max-width: 1367px) {
    .price-model{
        margin-top: -50px;
    }
    .active-car{
        margin-top: 57px;
        margin-bottom: 15px;
    }
    .slider .item img{
        width: 130px;
    }
    .autoslider .item img{
        width: 160px;
    }
}
@media (max-width: 1359px) {
    .active-car{
        margin-top: 45px;
    }
}
@media (max-width: 1280px) {
    .active-car{
        margin-top: 28px;
        margin-bottom: 15px;
    }
    body{
        background-size: 1280px;
    }
}