@charset "utf-8";
body{
    min-width: 1280px;
    color: #000;
    font-family: 'proxima_nova_rgregular';
    font-size: 18px;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    display:flex;
    justify-content: space-between;
    background-image: url('../img/header-back.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0 0 18px 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header .logo{
    padding: 15px 20px;
}
header .nav{
    flex-grow: 1;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    max-width: 1000px;
}
header .nav a{
    position: relative;
}
.nav .active:before{
    content: '';
    position: absolute;
    left: -20px;
    right: -20px;
    height: 5px;
    background-color: #d7363c;
    top: -59px;
}
header .phone-wrapper{
    display: flex;
    align-items: center;
}
.phone-wrapper .phone{
    padding: 10px 15px;
    margin: 0 20px;
    background-color: #ed1c24;
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}
section{
    width: 1280px;
    margin: 0 auto;
}
.button{
    cursor: pointer;
}
.popups{
    display: flex;
}
.popups>input{
    display: none;
}
.popups>#book-popup+div{
    z-index: -2;
    opacity: 0;
    transition: 200ms;
}
.popups .content{
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -450px;
    width: 860px;
    min-height: 200px;
    background-color: #fff;
    background-image: url('../img/back-popup.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.popup-shadow{
    position: fixed;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
.popups>#book-popup:checked + div{
    opacity: 1;
    z-index: 999;
}
.popups .content .title{
    text-align: center;
    font-size: 22px;
    font-family: 'proxima_nova_ltlight';
}
.form-group .hide{
    position: absolute;
    right: 10px;
    top: 48px;
    z-index:20;
}
.form-group{
    position: relative;
    display: flex;
    width: 530px;
    margin: 15px auto;
    justify-content: center;
}
.form-group input, .form-group textarea{
    background: #fff;
    width: calc(100% - 20px);
    padding: 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'proxima_nova_ththin';
    font-size: 22px;
}
.form-group textarea{
    resize: none;
    height: 75px;
}
.form-group input:focus, .form-group textarea:focus{
    border: 1px solid #00008B;
}
.half-input{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 22px;
    font-family: 'proxima_nova_ththin';
    background: #fff;
    margin-right: 10px;
    flex-grow: 1;
    flex-basis: 50%;
}
.calendar{
    margin-left: 10px;
    margin-right: 0;
    cursor: pointer;
}
input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     /* display: none; <- Crashes Chrome on hover */
     -webkit-appearance: none;
     margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
 }
.form-group span{
    font-size: 28px;
    padding: 0 10px;
}
.send-form{
    margin: 30px auto;
    display: flex;
    width: 530px;
    justify-content: center;
    text-align: center;
}
.send-form button{
    font-family: 'proxima_nova_ltlight';
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 25px;
    background-color: #ed1c24;
    padding: 10px 40px;
    cursor: pointer;
    transition: 200ms;
}
.send-form button:hover{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
h1{
    text-align: center;
    font-size: 23px;
}
.nav-tariff{
    display: flex;
    justify-content: center;
    font-size: 20px;
    white-space: nowrap;
}
.nav-tariff label div{
    text-align: center;
}
.nav-tariff .info{
    padding: 5px 10px;
    border: 1px solid #000;
    font-size: 15px;
    margin: 5px 0 0;
    border-radius: 5px;
    text-align: center;
}
.nav-tariff label{
    cursor: pointer;
}
label[for=standard-tariff]{
    text-align: right;
}
.hide{
    display: none;
}
.info-car .border>img{
    width:30px;
}
.change{
    position: relative;
    border-radius: 12px;
    border: 1px solid #000000;
    width: 44px;
    height: 22px;
    background: #fff;
    margin: 0 10px;
}
.change>div{
    position: absolute;
    left: -1px;
    top:-1px;
    width: 22px;
    height: 22px;
    border-radius: 12px;
    transition: 200ms;
    border: 1px solid #000000;
    background: #ed1c24;
}
#unlimited-tariff:checked + .change>div{
    left: 21px;
}
.table{
    width: calc(100% - 20px);
    margin: 30px 10px;
    transition: 200ms;
}
.info{
    padding-left: 20px;
    font-size: 13px;
}
.table{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.services .table{
    font-size: 15px;
}
.table>div{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.table>div>div{
    margin: 10px;
    flex-grow: 1;
    text-align: center;
}
.table>div>div:nth-of-type(1){
    max-width: 200px;
    min-width: 200px;
}
.table>div>div:nth-of-type(7){
    opacity: 0;
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: 200ms;
}
.table>div>div:nth-of-type(7):hover{
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
}
.body-table, .second-level-body-table{
    border-bottom: 1px solid #000;
}
.second-level-body-table{
    margin-left: 5%;
}
.body-table{
    margin: 0 2.5%;
}
.body-table>div{
    position: relative;
}
.body-table .ultimate, .body-table .plus{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    background: #fff;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}
.head-table{
    border: 1px solid #000;
    border-radius: 5px;
}
.head-table>div{
    border-left: 1px solid #000;
}
.head-table>div:nth-of-type(1){
    border-left: none;
}
.contacts{
    position: absolute;
    top: 121px;
    width: 100%;
    margin: 0;
    z-index: -1;
}
.contacts{
    height: calc(100vh - 121px);
    min-width: 1280px;
}
.contacts>div{
    height: 100%;
}
.map{
    position: absolute;
    top:0;
    bottom: 0;
    width: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.form-contacts{
    padding: 0 15px;
    margin-left: 50%;
    color: #434343;
    text-align: center;
    background-image: url('../img/contacts-back.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
}
.form-contacts .title{
    padding-top: 50px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}
.form-contacts .title .center{
    margin-top: 8px;
}
.contacts-block-info{
    vertical-align: top;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #434343;
    border-radius: 8px;
    margin: 10px;
    width: 200px;
}
.contacts-block-info>div{
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}
.contacts-block-info>div>div:nth-of-type(1){
    width: 39px;
}
.form-contacts form{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    min-height: 50px;
    width: 400px;
    margin: 20px auto;
    border-radius: 7px;
    border: 1px solid #6a6a6a;
    padding: 10px;
}
.form-contacts form input, .form-contacts form textarea, .form-contacts form button{
    font-family: 'proxima_nova_ththin';
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    margin: 10px;
}
.form-contacts form input, .form-contacts form textarea{
    padding: 2px 10px;
    width: 300px;
}
.form-contacts form input{
    width: 300px;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #350b38;
}
.form-contacts form textarea{
    text-align: left;
    border-radius: 5px;
    resize: none;
    height: 70px;
}
.form-contacts form button,.rent-terms .button{
    border: 1px solid #ff0000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.form-contacts form button:hover,.rent-terms .button:hover, .contacts .button:hover{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.rent-terms{
    color: #4c4c4c;
}
.rent-terms .info ul{
    padding-left: 20px;
    margin: 10px 0;
}
h2{
    font-family: 'proxima_nova_ltsemibold';
    font-size: 25px;
}
.half-wrapper h2{
    margin-bottom: 10px;
    text-align: center;
}
.rent-terms h1{
    font-size: 25px;
}
.rent-terms .info{
    border-radius: 7px;
    border: 1px solid #000;
    margin: 20px auto;
    width: 520px;
    padding: 20px;
    font-size: 15px;
}
.rent-terms .info:nth-of-type(1), .half-wrapper h2:nth-of-type(1){
    width: 640px;
}
.rent-terms .info:nth-of-type(2), .half-wrapper h2:nth-of-type(2){
    width: 400px;
}
.info .half-wrapper>div{
    min-width: 49%;
}
.half-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.half-wrapper .info{
    margin: 0 auto;
}
.rent-terms .first-title{
    font-family: 'proxima_nova_ltsemibold';
    font-size: 17px;
    margin-top: 15px;
}
.rent-terms .first-title:nth-of-type(1){
    margin-top: 0;
    margin-bottom: 5px;
}
.rent-terms .second-title{
    font-family: 'proxima_nova_ltsemibold';
    font-size: 16px;
}
.rent-terms .button, .contacts .button{
    width: 200px;
    text-align: center;
    display: block;
    margin: 15px auto;
    font-family: 'proxima_nova_ltlight';
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 25px;
    background-color: #ed1c24;
    padding: 10px 40px;
    cursor: pointer;
    transition: 200ms;
}
.top-rent-terms{
    display: flex;
    border-radius: 7px;
    border: 1px solid #000;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}
.top-rent-terms>div{
    text-align: center;
    width: 320px;
    padding: 6px;
    border-left: 1px solid #000000;
}
.top-rent-terms>div:nth-of-type(1){
    border-left: none;
}
.services .table>div>div:nth-of-type(1){
    max-width: 80%;
    min-width: 80%;
}
.services .table>.body-table>div:nth-of-type(1),.services .table>.second-level-body-table>div:nth-of-type(1){
    text-align: left;
}
.services .table>.body-table>div:nth-of-type(2),.services .table>.second-level-body-table>div:nth-of-type(2){
    text-align: right;
}
.services .table>.body-table{
    width: 95%;
}
.table>.second-level-body-table{
    width: 92.5%;
}
.big-info{
    margin: 10px;
    text-align: center;
    font-size: 16px;
}
.services .big-info{
    margin-bottom: 10px;
}
.services{
    background-image: url('../img/services-back.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.card-car{
    display: flex;
    flex-wrap:wrap;
    height: calc(100vh - 140px);
    margin: 0;
    width: calc(100% + 70px);
}
.card-car>div{
    flex-basis: calc(33% - 32px);
    display: flex;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    transform: skewX(-10deg);
    overflow: hidden;
    justify-content: center;
    margin: 10px 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.skewimg{
    width: 115%;
}
.skewimg>img{
    position: relative;
    left: -7.5%;
    width: 115%;
    min-height: 100%;
}
.card-car>div>*{
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
    transform: skewX(10deg);
}
.card-car>div:nth-child(1),.card-car>div:nth-child(6){
    height: calc(calc(100vh - 140px) / 2 - 15px + 7vh);
}
.card-car>div:nth-child(2),.card-car>div:nth-child(5){
    height: calc(calc(100vh - 140px) / 2 - 15px);
}
.card-car>div:nth-child(3),.card-car>div:nth-child(4){
    height: calc(calc(100vh - 140px) / 2 - 15px - 7vh);
}
.card-car>div:nth-child(4),.card-car>div:nth-child(5){
    align-self: flex-end;
}
.card-car>div:nth-child(3){
    position: relative;
    left: -10px;
}
.card-car>div:nth-child(3){
    box-shadow: none;
}
.card-car>div{
    position: relative;
    left: 35px;
}
.car-wrapper{
    overflow: hidden;
    width: 100%;
}
.card-car>div:nth-child(4),.card-car>div:nth-child(5),.card-car>div:nth-child(6){
    top: calc(0px - 14vh - 10px);
    left: calc(35px - calc(calc(calc(calc(100vh - 140px) / 2 - 15px + 7vh) / 100) * 16));
}
.info-car{
    text-align: center;
}
.info-car h1{
    margin: 7px 0;
}
.info-car .table{
    position: relative;
    right: 22px;
    margin: 5px auto;
    font-size: 13px;
    width: calc(100% - 80px);
}
.info-car .table>div>div{
    margin: 5px;
}
.info-car .table>div>div:nth-of-type(1){
    min-width: 0;
}
.info-car>.info{
    padding-left: 0;
    text-align: center;
}
.info-car .border{
    display: flex;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5px;
    justify-content: space-around;
    height: 35px;
}
.info-car .border>div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 49%;
    flex-grow: 1;
    min-height: 5px;
    font-size: 13px;
}
.info-car .border>div:nth-of-type(1){
    border-right:1px solid #000000;
}
.hide{
    display: none;
}
.redline{
    position: absolute;
    background-color: #ed1c24;
    left: 50%;
    right: 50%;
    bottom: 0;
    top: 0;
    transition: 500ms;
    z-index: -1;
}
.center{
    text-align: center!important;
}
.white-back{
    padding: 3px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
#standard-tariff:checked ~ label:nth-of-type(1) .redline, #standarptlus-tariff:checked~label:nth-of-type(2) .redline, #unlimited-tariff:checked~label:nth-of-type(3) .redline{
    left: 0;
    right: 0;
}
#standard-tariff:checked ~ label:nth-of-type(1) .info, #standarptlus-tariff:checked~label:nth-of-type(2) .info, #unlimited-tariff:checked~label:nth-of-type(3) .info{
    transition: 500ms;
    color: #fff;
    border: none;
    overflow: hidden;
    margin: 1px;
}
.nav-tariff label{
    position: relative;
    margin: 5px;
}
.nav-tariff label{

}
.block-info{
    position: relative;
    left: 5px;
    vertical-align: top;
    display: inline-block;
    width: 112px;
    height: 50px;
    margin: 10px;
}
.block-info:hover .hide{
    margin-top: 3px;
    display: block;
    font-size: 12px;
    text-align: center;
}
.nav-tariff .info{
    text-align: center;
    position: relative;
}
.info-car .nav-tariff{
    font-size: 13px;
    margin-right: 25px;
}
.info-car .nav-tariff .info{
    font-size: 9px;
    margin: 5px;
}
.card-car h2{
    font-family: 'proxima_nova_ltlight';
    font-size: 20px;
}

.calendar{
    width: 280px;
    margin: auto;
}
.calendar tbody td{
    cursor:pointer;
    padding: 2px;
}
.calendar tbody td{
}
.calendar tbody .active{
    background:#f6f6f6;
}
.calendar table{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
}
#calendar2 {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    color: #737373;
}
#calendar2 thead tr:nth-of-type(1){
    background: #f63c2f;
    color: #fff;
}
#calendar2 thead td{
    padding: 8px 5px;
}
#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-of-type(2){
    background: #f6f6f6;
    color: #737373;
}
#calendar2 td{
    min-width: 30px;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}
#calendar2 tbody td {
    color: #737373;
}
#calendar2 tbody td:nth-of-type(1) {
    color: #737373;
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: #f63c2f;
}
#calendar2 tbody td.today {
    background: #f63c2f;
    color: #fff;
    border-radius: 15px;
}
.calendar tbody .selected-date{
    background:#aeaeae!important;
    color:#fff!important;
    border-radius: 15px;
}
.book{
    cursor: pointer;
}
.book label{
    display: block;
    cursor: pointer;
}
.owl-carousel{
    transition: 200ms;
}
.reviews{
    height: calc(100vh - 310px)!important;
    overflow-y: scroll;
    width: 1000px;
    margin: 0 auto;
}
.price-model .button>div, button>div{
    position: absolute;
    left: 50%;
    right: 50%;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    transition: 200ms;
}
button{
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.price-model .button:hover >div, button:hover>div{
    left: 0;
    right: 0;
}
.autopark{
    display: flex;
    justify-content: center;
    height: calc(100vh - 140px);
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-width: 1280px;
}
.autopark>div{
    display: flex;
    align-items: stretch;
    min-height: 33.3%;
    justify-content: space-around;
}
.autopark>div:nth-of-type(1){
    background: -moz-linear-gradient(top, rgba(215, 215, 215, 0) 0%, rgba(205, 205, 205, 0.75) 3%, rgba(215, 215, 215, 0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(215, 215, 215, 0) 0%, rgba(205, 205, 205, 0.75) 3%, rgba(215, 215, 215, 0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(215, 215, 215, 0) 0%, rgba(205, 205, 205, 0.75) 3%, rgba(215, 215, 215, 0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.autopark>div:nth-of-type(2){
     background: -moz-linear-gradient(top, rgba(215, 215, 215, 0.95) 0%, rgba(226, 226, 226, 0.95) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(215, 215, 215, 0.95) 0%, rgba(226, 226, 226, 0.95) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(215, 215, 215, 0.95) 0%, rgba(226, 226, 226, 0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.autopark>div:nth-of-type(3){
    background: -moz-linear-gradient(top, rgba(215, 215, 215, 1) 0%, rgba(226, 226, 226, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(215, 215, 215, 1) 0%, rgba(226, 226, 226, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(215, 215, 215, 1) 0%, rgba(226, 226, 226, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.autoslider{
    width: calc(100% - 440px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 70px;
}
.autopark>div:nth-of-type(1) .autoslider>div{
    position: relative;
    top:10px;
}
.title-class{
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.title-class>div{
    text-align: center;
    width: 175px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6e7070;
}
.cap{
    display: none;
}
.popups #orientation-checkbox:checked + div{
    display: none!important;
}
@media (orientation: portrait){
    .cap{
        display: block;
        z-index: 5000;
    }
    .cap .content{
        top:49%!important;
        bottom:49%!important;
    }
    .cap .title{
        font-size: 52px!important;
    }
}
@media (min-device-width : 100px)
and (max-device-width : 1366px){
    .info-car .border>div img{
        width: 28px;
    }
    .info-car .border{
        height: 28px;
    }
    .card-car{
        height: 680px;
    }
    .card-car>div:nth-child(1),.card-car>div:nth-child(6){
        height: 355px;
    }
    .card-car>div:nth-child(2),.card-car>div:nth-child(5){
        height: 315px;
    }
    .card-car>div:nth-child(3),.card-car>div:nth-child(4){
        height: 275px;
    }
    .card-car>div:nth-child(4),.card-car>div:nth-child(5),.card-car>div:nth-child(6){
        top: -90px;
        left: -20px;
    }
    .block-info{
        height: 45px;
    }
    .card-car>div:nth-child(3){
        left: 5px;
    }
}
@media (max-height: 795px){
    .info-car .border>div img{
        width: 28px;
    }
    .info-car .border{
        height: 28px;
    }
    .card-car{
        height: 680px;
    }
    .card-car>div:nth-child(1),.card-car>div:nth-child(6){
        height: 355px;
    }
    .card-car>div:nth-child(2),.card-car>div:nth-child(5){
        height: 315px;
    }
    .card-car>div:nth-child(3),.card-car>div:nth-child(4){
        height: 275px;
    }
    .card-car>div:nth-child(4),.card-car>div:nth-child(5),.card-car>div:nth-child(6){
        top: -90px;
        left: -20px;
    }
    .block-info{
        height: 45px;
    }
}
@media (min-height : 0px)
and (max-height : 655px) {
    .popups .content{
        top: 30px;
        bottom: 30px;
        overflow-y: scroll;
    }
}
@media (min-device-height : 0px)
and (max-device-height : 655px){
    .popups .content{
        top: 30px;
        bottom: 30px;
        overflow-y: scroll;
    }
}
@media (min-device-width : 100px)
and (max-device-width : 2024px)
or (min-height: 795px) {
    .block-info{
        width: 125px;
    }
    .info-car .border>div{
        font-size: 14px;
    }
    .info-car .nav-tariff{
        font-size: 16px;
    }
    .info-car .nav-tariff .info{
        font-size: 10px;
    }
    .info-car .table{
        font-size: 16px;
    }
}
@media (min-height: 900px) {
    .nav-tariff{
        margin: 10px 0 18px;
    }
}
@media (max-width: 1800px) {
    .contacts{
        height: calc(100vh - 98px);
        top: 98px;
    }
    .nav .active:before{
        top: -38px;
    }
    .reviews{
        height: calc(100vh - 270px)!important;
    }
    .contacts-block-info{
        padding: 0;
        margin: 5px 10px;
    }
    .form-contacts .title{
        padding-top: 10px;
    }
    .logo img{
        width: 130px;
    }
    .table{
        font-size: 14px;
        margin: 10px;
    }
    .table>div>div{
        margin: 5px;
    }
    .nav-tariff{
        font-size: 18px;
    }
    .nav-tariff .info{
        font-size: 13px;
    }
    .autopark{
        height: calc(100vh - 98px);
    }
}